@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root,
#App .page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Catamaran", "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #222225;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.login-page-login-group {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.6px;
}
.login-page-login-group .login-group-image {
  width: 124px;
  height: 76px;
}
.login-page-login-group .login-input-email {
  margin: 1rem 0;
}
.login-page-login-group .login-input-email .p-inputtext {
  border: none;
  border-radius: 2px;
  background: #292a2b;
}
.login-page-login-group .login-input-email .p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px #c96789, inset 0 0 0 1px #c96789, inset 0 0 0 1px #c96789, inset 0 0 0 1px #c96789;
}
.login-page-login-group .login-input-email .p-float-label input:focus ~ label {
  color: #c96789;
}
.login-page-login-group .login-input-password {
  margin: 1rem 0;
}
.login-page-login-group .login-input-password .p-inputtext {
  border: none;
  border-radius: 2px;
  background: #292a2b;
}
.login-page-login-group .login-input-password .p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px #c96789, inset 0 0 0 1px #c96789, inset 0 0 0 1px #c96789, inset 0 0 0 1px #c96789;
}
.login-page-login-group .login-input-password .p-float-label input:focus ~ label {
  color: #c96789;
}
.login-page-login-group .login-forgot-pass {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}
.login-page-login-group .register-new-acc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}
.login-page-login-group .register-new-acc .register-new-acc-text {
  font-size: 14px;
}
.login-page-login-group .register-new-acc .register-new-acc-text .register-new-acc-register {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 0.5rem;
}
.login-page-login-group .register-new-acc .register-new-acc-button {
  width: 120px;
  height: 45px;
  background-color: #e02735;
  color: #f7f7f7;
  border-radius: 2px;
}
.login-page-login-group .register-new-acc .register-new-acc-button:hover {
  background-color: #c96789;
}
.login-page-login-group .register-new-acc .p-button {
  background-color: #e02735;
}
.login-page-login-group .register-new-acc .p-button:hover {
  background-color: #c96789;
  color: #f7f7f7;
}
.login-page-login-group .register-new-acc .p-button:focus {
  background-color: #e02735;
}
.login-page-login-group .register-new-acc .p-button:focus:hover {
  background-color: #c96789;
}
.login-page-login-group .register-new-acc .p-button:disabled:focus {
  background-color: #e02735;
}

.test-btn {
  margin-top: 5rem;
}

.filter-dialog {
  font-family: "Catamaran";
}

.p-dialog-mask .p-dialog .p-dialog-header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1.25rem;
  background: #0a0a0a;
  font-family: "Catamaran";
}
.p-dialog-mask .p-dialog .p-dialog-footer {
  background: #0a0a0a;
  font-family: "Catamaran";
}
.p-dialog-mask .p-dialog .p-dialog-content {
  background: #0a0a0a;
  font-family: "Catamaran";
}

.filter-header {
  width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.filter-header .filter-clear-all {
  height: 31px;
  background: #172a35;
}

.fileter-dialog-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.filter-star-butons-wraper {
  margin-bottom: 0.8rem;
}

.filter-star-butons-tile {
  font-size: 14px;
}

.filter-star-butons-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.filter-star-butons-group .filter-star-butons-group-small {
  height: 31px;
  margin: 0.3rem 0.4rem 0.3rem 0;
  padding: 0 0.4rem;
  color: #f7f7f7;
  background-color: #292a2b;
}
.filter-star-butons-group .filter-input-wrap {
  margin-left: 0.5rem;
}
.filter-star-butons-group .filter-input-wrap .p-inputtext:enabled:focus {
  box-shadow: inset 0 0 0 1px #c96789, inset 0 0 0 1px #c96789, inset 0 0 0 1px #c96789, inset 0 0 0 1px #c96789;
}
.filter-star-butons-group .filter-input-wrap .p-float-label input:focus ~ label {
  color: #c96789;
}
.filter-star-butons-group .filter-input {
  height: 31px;
  margin: 0.4rem 0.4rem 0.4rem 0;
  padding: 0 0.4rem;
  border: none;
  background-color: #292a2b;
}
.filter-star-butons-group .filter-radio-butons-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-radiobutton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.4rem;
  border: 2px color green;
}
.filter-radiobutton .filter-radio-label {
  margin-left: 0.5rem;
}

@media screen and (max-width: 767px) {
  .filter-header {
    width: 70vw;
  }
}
@media screen and (max-width: 500px) {
  .filter-header {
    width: 90vw;
  }
}
.mega-k-button {
  height: 45px;
  padding: 0 1.2rem;
  color: #f7f7f7;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}

.mega-k-button:hover {
  background-color: #c96789;
}

.megak-primary {
  background-color: #e02735;
}

.megak-secondary {
  background-color: none;
}

.mega-k-star {
  height: 27px;
  width: 42px;
  padding: 0 0.4rem;
  color: #f7f7f7;
  border-radius: 2px;
  border: none;
  font-size: 12px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292a2b;
  cursor: pointer;
}
.mega-k-star .star-icon-size1 {
  font-size: 0.65rem;
  margin-left: 0.3rem;
  color: #e02735;
}
.mega-k-star .star-icon-size2 {
  font-size: 0.7rem;
  margin-left: 0.3rem;
  color: #e02735;
}
.mega-k-star .star-icon-size3 {
  font-size: 0.75rem;
  margin-left: 0.3rem;
  color: #e02735;
}
.mega-k-star .star-icon-size4 {
  font-size: 0.8rem;
  margin-left: 0.3rem;
  color: #e02735;
}
.mega-k-star .star-icon-size5 {
  font-size: 0.85rem;
  margin-left: 0.3rem;
  color: #e02735;
}

.mega-k-star:hover {
  background-color: #c96789;
}

.megak-star-primary {
  background-color: #e02735;
}

.megak-star-secondary {
  background-color: none;
  margin: 0.4rem 0.4rem 0.4rem 0;
}/*# sourceMappingURL=style.css.map */