@import './colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.BookInterview {
  display: flex;
  align-content: center;
  width: 100%;
  height: 100%;
  border-bottom: 10px solid $bgc-dark;
}

.BookInterview__student {
  display: flex;
  flex-direction: row;
  width: 100%;

  &--buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2em;

    .p-button {
      margin: 0.5em;
      height: 27px;
      background-color: $megak-red-color;
      border-radius: 0;
      font-size: 12px;
      font-weight: normal;
      text-align: center;
      color: $main-text-color;

      &:hover {
        background-color: $megak-light-color !important;
        color: $main-text-color !important;
      }

      &:disabled:focus {
        background-color: $megak-red-color;
      }

      &:focus {
        background-color: $megak-red-color !important;
      }
    }
  }

  &--information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: lighter;
    font-size: 13px;
  }

  &--information-avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid $bgc-dark;
    margin-left: 3.5em;
  }

  &--information-name {
    margin-left: 1em;
  }

  &--reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8em;
    font-size: 12px;
    margin: 0.3em 1em;

    &--reservation-text {
      font-size: 0.6rem;
      padding: 0.5em 0;
      font-weight: lighter;
      color: $extra-text-color;
    }

    &--reservation-date {
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}

//interview button
//.p-button {
//  margin: 0.5em;
//  background-color: $megak-red-color;
//}


.BookInterview-button {
  background-color: $megak-red-color;
  color: $main-text-color;
  border-radius: 2px;
  margin: 0 0.5em;
  font-weight: lighter;
  font-size: 13px;

  &:hover {
    background-color: yellow;
  }
}

