@import './colors';

.choose-view-container {
  display: flex;
  height: 72px;
  width: 100%;
  border-bottom: 2px solid $bgc-dark;
  background-color: $input-brown;

  .choose-view-button {
    box-sizing: border-box;
    border: none;
    padding: 0;
    background-color: $input-brown;

    .choose-view-button-link {
      padding: 26px 20px;
      font-size: 18px;
      color: #cfcfcf;
    }
  }

  .choose-view-button:hover {
    background-color: #353538;
  }

  .styleActive {
    border-bottom: 4px solid $megak-red-color;

    .choose-view-button-link {
      color: white;
    }
  }
}