$bgc-header: #1e1e20;
$input-brown: #292a2b;
$bgc-dark: #222225;
$cta: #e02735;
$github-color: #168bd4;
$bgc-light: 2a2a2b;
$megak-red-color: #e02735;
$megak-light-color: #c96789;
$main-text-color: #f7f7f7;
$extra-text-color: #939393;
$github-color: #168bd4;
$megaK-black-color: #0a0a0a;
$mega-dark-blue-grey: #172a35;

