@import './colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
#root,
#App .page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $bgc-dark;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
