@import './colors';

.Notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 6em;

  &__Fail {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $megak-red-color;

    &--button {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    &--button-back {
      background-color: $megak-red-color;
      margin: 1em;
      padding: 0.5em 1em;
    }
  }
}