@import './colors';
.mega-k-star {
  height: 27px;
  width: 42px;
  padding: 0 0.4rem;
  color: $main-text-color;
  border-radius: 2px;
  border: none;
  font-size: 12px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $input-brown;
  cursor: pointer;
  .star-icon-size1 {
    font-size: 0.65rem;
    margin-left: 0.3rem;
    color: $megak-red-color;
  }
  .star-icon-size2 {
    font-size: 0.7rem;
    margin-left: 0.3rem;
    color: $megak-red-color;
  }
  .star-icon-size3 {
    font-size: 0.75rem;
    margin-left: 0.3rem;
    color: $megak-red-color;
  }
  .star-icon-size4 {
    font-size: 0.8rem;
    margin-left: 0.3rem;
    color: $megak-red-color;
  }
  .star-icon-size5 {
    font-size: 0.85rem;
    margin-left: 0.3rem;
    color: $megak-red-color;
  }
}
.mega-k-star:hover {
  background-color: $megak-light-color;
}
.megak-star-primary {
  background-color: $megak-red-color;
}
.megak-star-secondary {
  background-color: none;
  margin: 0.4rem 0.4rem 0.4rem 0;
}
