@import "colors";

.view-panel {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: flex-start;
  max-width: 1430px;
  width: 80%;
  height: 72px;
  color: $main-text-color;
  background-color: $input-brown;
  margin: 100px auto 0 auto;
  border-bottom: 2px solid $bgc-dark;

  .link-wrapper {
    z-index: 1;
    display: flex;
    align-items: flex-start;
    height: 72px;
    list-style-type: none;

    .link {
      text-align: left;
      //width: 120%;
      font-size: 18px;
      letter-spacing: 0;
      color: #CFCFCF;
      padding: 23px 24px 19px 20px;
      margin-left: 10px;

    }

    .active {
      color: $main-text-color;
      border-bottom: 3px solid $cta;
    }

  }
}

@media (max-width: 1024px) {
  .view-panel {
    position: relative;
    display: flex;
    align-items: flex-start;
    max-width: 1430px;
    width: 90%;
    height: 72px;
    color: $main-text-color;
    background-color: $input-brown;
    margin: 100px auto 0 auto;
    border-bottom: 2px solid $bgc-dark;

    .link-wrapper {
      z-index: 1;
      display: flex;
      align-items: flex-start;
      height: 72px;
      list-style-type: none;

      .link {
        text-align: left;
        //width: 120%;
        font-size: 16px;
        letter-spacing: 0;
        color: #CFCFCF;
        padding: 23px 14px 19px 8px;
        margin-left: 10px;

      }

      .active {
        color: $main-text-color;
        border-bottom: 3px solid $cta;
      }

    }
  }
}

@media (max-width: 600px) {
  .view-panel {
    position: relative;
    display: flex;
    align-items: flex-start;
    max-width: 1430px;
    width: 98%;
    height: 72px;
    color: $main-text-color;
    background-color: $input-brown;
    margin: 90px auto 0 auto;
    border-bottom: 2px solid $bgc-dark;

    .link-wrapper {
      z-index: 1;
      display: flex;
      align-items: flex-start;
      height: 72px;
      list-style-type: none;

      .link {
        text-align: left;
        //width: 120%;
        font-size: 14px;
        letter-spacing: 0;
        color: #CFCFCF;
        padding: 23px 14px 19px 8px;
        margin-left: 10px;

      }

      .active {
        color: $main-text-color;
        border-bottom: 3px solid $cta;
      }

    }
  }
}