* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root,
#App .page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #222225;
}

.login-page-login-group {
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-page-login-group .login-group-image {
  width: 124px;
  height: 76px;
}
.login-page-login-group .login-input-email {
  margin: 1rem 0;
}
.login-page-login-group .login-input-email .p-inputtext {
  border: none;
  border-radius: 2px;
  background: #292a2b;
}
.login-page-login-group .login-input-password {
  margin: 1rem 0;
}
.login-page-login-group .login-input-password .p-inputtext {
  border: none;
  border-radius: 2px;
  background: #292a2b;
}
.login-page-login-group .login-forgot-pass {
  display: flex;
  justify-content: end;
  font-size: 14px;
}
.login-page-login-group .register-new-acc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}
.login-page-login-group .register-new-acc .register-new-acc-text {
  font-size: 14px;
}
.login-page-login-group .register-new-acc .register-new-acc-text .register-new-acc-register {
  font-weight: bold;
  text-decoration: underline;
}
.login-page-login-group .register-new-acc .register-new-acc-button {
  width: 120px;
  height: 45px;
  background-color: #e02735;
  color: #f7f7f7;
  border-radius: 2px;
}

.main-wrapper {
  position: relative;
  display: flex;
  width: 1440px;
  height: 30px;
  margin: 100px auto;
}
.main-wrapper .cv-student-info {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 0 20px;
  background-color: #2a2a2b;
}
.main-wrapper .cv-student-info .cv-student-info__picture-container {
  margin: 30px 30px;
  width: 150px;
  height: 150px;
}
.main-wrapper .cv-student-info .cv-student-info__picture-container .cv-student-info__picture {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}
.main-wrapper .cv-student-info .cv-student-info__name {
  align-self: center;
  padding: 5px 0;
  font-size: 24px;
}
.main-wrapper .cv-student-info .cv-student-info__gitHub-info {
  display: flex;
  justify-content: center;
  padding: 3px;
  font-size: 16px;
  color: #168bd4;
}
.main-wrapper .cv-student-info .cv-student-info__gitHub-info .cv-student-info__gitHub-icon {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background-color: #168bd4;
}
.main-wrapper .cv-student-info .cv-student-info__gitHub-info .cv-student-info__gitHub-login {
  display: block;
  margin: 0 5px;
  text-decoration: none;
  color: #168bd4;
  transition: 0.2s;
}
.main-wrapper .cv-student-info .cv-student-info__gitHub-info .cv-student-info__gitHub-login:hover {
  color: #b8dcf2;
}
.main-wrapper .cv-student-info__contact {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 15px 0;
  color: #f7f7f7;
}
.main-wrapper .cv-student-info__contact .cv-student-info__contact-phone, .main-wrapper .cv-student-info__contact .cv-student-info__contact-mail {
  display: flex;
  justify-content: left;
  margin: 10px 0;
}
.main-wrapper .cv-student-info__contact .cv-student-info__contact-phone .cv-student-info__contact-icon, .main-wrapper .cv-student-info__contact .cv-student-info__contact-mail .cv-student-info__contact-icon {
  color: #939393;
  margin-right: 10px;
}
.main-wrapper .cv-student-info__about-me {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16px;
  color: #f7f7f7;
}
.main-wrapper .cv-student-info__about-me .cv-student-info__title {
  margin-bottom: 10px;
  color: #939393;
}
.main-wrapper .cv-student-info__about-me .cv-student-info__text {
  text-align: left;
  line-height: 26px;
}
.main-wrapper .cv-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 2px;
}
.main-wrapper .cv-container h3.cv-title {
  padding: 20px;
  font-size: 20px;
  font-weight: normal;
  color: #f7f7f7;
  background-color: #2a2a2b;
}
.main-wrapper .cv-container .cv-ratings, .main-wrapper .cv-container .cv-expectation, .main-wrapper .cv-container .cv-knowledge {
  display: flex;
  flex-direction: column;
}
.main-wrapper .cv-container .cv-ratings .cv-ratings__container, .main-wrapper .cv-container .cv-ratings .cv-expectation__container, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container, .main-wrapper .cv-container .cv-expectation .cv-ratings__container, .main-wrapper .cv-container .cv-expectation .cv-expectation__container, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-ratings__item, .main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-expectation__item, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-ratings__item, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-expectation__item, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-ratings__item, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-expectation__item, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-ratings__item, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-expectation__item, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-ratings__item, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-expectation__item, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-ratings__item, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-expectation__item, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-ratings__item, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-expectation__item, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-ratings__item, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-expectation__item, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-ratings__item, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-expectation__item {
  display: flex;
  flex-direction: column;
  flex-basis: 165px;
  height: 100px;
}
.main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-ratings__item .cv-ratings__rating, .main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-expectation__item .cv-ratings__rating, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-ratings__item .cv-ratings__rating, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-expectation__item .cv-ratings__rating, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-ratings__item .cv-ratings__rating, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-expectation__item .cv-ratings__rating, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-ratings__item .cv-ratings__rating, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-expectation__item .cv-ratings__rating, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-ratings__item .cv-ratings__rating, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-expectation__item .cv-ratings__rating, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-ratings__item .cv-ratings__rating, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-expectation__item .cv-ratings__rating, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-ratings__item .cv-ratings__rating, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-expectation__item .cv-ratings__rating, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-ratings__item .cv-ratings__rating, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-expectation__item .cv-ratings__rating, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-ratings__item .cv-ratings__rating, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-expectation__item .cv-ratings__rating {
  display: flex;
  font-size: 18px;
  letter-spacing: 1.8px;
}
.main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-ratings__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-expectation__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-ratings__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-expectation__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-ratings__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-expectation__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-ratings__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-expectation__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-ratings__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-expectation__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-ratings__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-expectation__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-ratings__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-expectation__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-ratings__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-expectation__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-ratings__item .cv-ratings__rating .cv-ratings__max, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-expectation__item .cv-ratings__rating .cv-ratings__max {
  margin-right: 10px;
}
.main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-ratings__item .cv-ratings__title, .main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-ratings__item .cv-expectation__title, .main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-expectation__item .cv-ratings__title, .main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-expectation__item .cv-expectation__title, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-ratings__item .cv-ratings__title, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-ratings__item .cv-expectation__title, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-expectation__item .cv-ratings__title, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-expectation__item .cv-expectation__title, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-ratings__item .cv-ratings__title, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-ratings__item .cv-expectation__title, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-expectation__item .cv-ratings__title, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-expectation__item .cv-expectation__title, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-ratings__item .cv-ratings__title, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-ratings__item .cv-expectation__title, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-expectation__item .cv-ratings__title, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-expectation__item .cv-expectation__title, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-ratings__item .cv-ratings__title, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-ratings__item .cv-expectation__title, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-expectation__item .cv-ratings__title, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-expectation__item .cv-expectation__title, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-ratings__item .cv-ratings__title, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-ratings__item .cv-expectation__title, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-expectation__item .cv-ratings__title, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-expectation__item .cv-expectation__title, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-ratings__item .cv-ratings__title, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-ratings__item .cv-expectation__title, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-expectation__item .cv-ratings__title, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-expectation__item .cv-expectation__title, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-ratings__item .cv-ratings__title, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-ratings__item .cv-expectation__title, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-expectation__item .cv-ratings__title, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-expectation__item .cv-expectation__title, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-ratings__item .cv-ratings__title, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-ratings__item .cv-expectation__title, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-expectation__item .cv-ratings__title, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-expectation__item .cv-expectation__title {
  flex-grow: 1;
  font-size: 14px;
  color: #CFCFCF;
}
.main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-ratings__item .stars-container, .main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-expectation__item .stars-container, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-ratings__item .stars-container, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-expectation__item .stars-container, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-ratings__item .stars-container, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-expectation__item .stars-container, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-ratings__item .stars-container, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-expectation__item .stars-container, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-ratings__item .stars-container, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-expectation__item .stars-container, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-ratings__item .stars-container, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-expectation__item .stars-container, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-ratings__item .stars-container, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-expectation__item .stars-container, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-ratings__item .stars-container, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-expectation__item .stars-container, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-ratings__item .stars-container, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-expectation__item .stars-container {
  color: #939393;
}
.main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-ratings__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-ratings .cv-ratings__container .cv-expectation__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-ratings__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-ratings .cv-expectation__container .cv-expectation__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-ratings__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-ratings .cv-knowledge__container .cv-expectation__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-ratings__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-expectation .cv-ratings__container .cv-expectation__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-ratings__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-expectation .cv-expectation__container .cv-expectation__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-ratings__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-expectation .cv-knowledge__container .cv-expectation__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-ratings__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-knowledge .cv-ratings__container .cv-expectation__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-ratings__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-knowledge .cv-expectation__container .cv-expectation__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-ratings__item .stars-container .stars-container__red-icon, .main-wrapper .cv-container .cv-knowledge .cv-knowledge__container .cv-expectation__item .stars-container .stars-container__red-icon {
  color: #e02735;
}
.main-wrapper .cv-expectation__text, .main-wrapper .cv-knowledge__text {
  padding: 10px 0;
  font-size: 16px;
  line-height: 26px;
  color: #f7f7f7;
}

.go-back {
  position: absolute;
  display: flex;
  left: -85px;
  margin: 0 10px;
}
.go-back .go-back__link {
  display: block;
  padding: 7px 0;
  height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: #f7f7f7;
  transition: 0.2s;
}
.go-back .go-back__link:hover {
  color: #e02735;
}

/*# sourceMappingURL=style.css.map */
